@import "compass";

$list-width: 300px;
$list-bg: #fff;
$pad: 10px;
$list-item-border: #ccc;
$map-border: #888;
$title-color: #777;
$heading-color: #07c;
$heading-font-size: 16px;
$text-color: #666;
$active-item-color: $heading-color;
$active-heading-color: #fff;
$active-text-color: #fff;
$font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$header-bg: #eee;
$max-mobile-width: 767px;
$text-margin: 0 0 3px 0;
$line-height: 1.2;



* {
  box-sizing: border-box;
}

body {
  background: $header-bg;
  font-family: $font;
}

h1 {
  color: $title-color;
  font-size: 20px;
  font-weight: 400;
  margin: $text-margin;
  text-align: center;
}

h2, h3 {
  font-size: $heading-font-size;
  margin: $text-margin;
  line-height: $line-height;
  font-weight: normal;
}

h2 {
  color: $heading-color;
}

p {
  margin: $text-margin;
  font-size: 14px;
  font-weight: normal;
  color: #666;
  clear: both;
  line-height: 1.3;
}



#pdxri-map-wrapper {
  position: fixed;
  left:   $list-width;
  right:  0;
  top:    0;
  bottom: 0;
  background: #000;
  border-left: 1px solid $map-border;
  
  @media (max-width: $max-mobile-width) {
    display: none;
  }
}

#pdxri-map {
  height: 100%;
  
  .pdxri-list-item {
    white-space: nowrap;
  }
}




#pdxri-header {
  padding: $pad;
  background: #f3f3f3;
    
  p {
    color: $title-color;
    font-size: 12px;
    margin: 0;
    text-align: center;
  }
  
  a {
    text-decoration: none;
    color: $title-color;
    border-bottom: 1px dotted $title-color;
    
    &:hover {
      color: $heading-color;
      border-color: $heading-color;
    }
  }
}



#pdxri-count {
  margin: 0;
  padding: $pad 0;
  background: $header-bg;
  
  p {
    font-size: $heading-font-size;
    color: $title-color;
    text-align: center;
    margin: 0;
  }
}



#pdxri-controls {
  padding: $pad $pad $pad 0;
  border-bottom: 1px solid $list-item-border;
  border-top: 1px solid $list-item-border;
  background: $header-bg;
  
  #pdxri-selects {
    margin-left: $pad;

    select {
      width: 100%;
      margin: 0 0 $pad 0;
    }
  }
  
  #pdxri-buttons {
    display: table;
    width: 100%;
    
    .pdxri-button {
      display: table-cell;
      padding-left: $pad;  
    }
    
    button {
      border: 1px solid $heading-color;
      color: $heading-color;
      background: #fff;
      border-radius: 5px;
      padding: 5px 0;
      width: 100%;
      font-size: 15px;
      cursor: pointer;
      
      &:hover, &:focus {
        background: #eef;
      }
      
      &:active {
        color: #05a;
        border-color: #05a;
      }
      
      &:disabled {
        background: $header-bg;
        color: #999;
        border-color: #999;
        cursor: default;
      }
    }
  }
}



#pdxri-info {
  width: $list-width;
  
  @media (max-width: $max-mobile-width) {
    width: auto;
  }
  
  .pdxri-list-item {
    border-bottom: 1px solid $list-item-border;
    padding: $pad;    
  }
}

#pdxri-list {

  &.pending {
    height: 100px;
    background-image: url(../images/pending.gif);
    background-position: center center;
    background-repeat: no-repeat;
  }

  .pdxri-list-item {

    h2 {
      display: block;
      float: left;
      width: 220px;
    }
  
    h3 {
      display: block;
      float: right;
    }
  }
}

.pdxri-list-item {
  cursor: pointer;
  font-family: $font !important;
  background: $list-bg;
    
  p {
    margin: 0 0 0 $pad;
  }
    
  &.grade-A {
    h3 {
      color: #3a3;
    }
  }
  &.grade-B {
    h3 {
      color: #9a0;
    }
  }
  &.grade-C {
    h3 {
      color: #da0;
    }
  }
  &.grade-D {
    h3 {
      color: #d60;
    }
  }
  &.grade-F {
    h3 {
      color: #b00;
    }
  }
}



.pdxri-error {
  background: #fea;
  padding: $pad;
  border-bottom: 1px solid $list-item-border;
  
  p {
    margin: 0;
    color: #b00;
    font-weight: 500;
  }
}