@import "compass";




$list-width: 300px;
$list-bg: #fff;
$list-item-padding: 10px;
$list-item-border: #ccc;
$map-border: #888;
$title-color: #777;
$heading-color: #07c;
$heading-font-size: 15px;
$text-color: #666;
$active-item-color: $heading-color;
$active-heading-color: #fff;
$active-text-color: #fff;
$font: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$header-bg: #eee;
$max-mobile-width: 767px;




* {
  box-sizing: border-box;
}

body {
  background: $header-bg;
  font-family: $font;
}

h2 {
  font-size: $heading-font-size;
  text-transform: capitalize;
  margin: 0;
  color: $heading-color;
}




#pdxri-map-wrapper {
  position: fixed;
  left:   $list-width;
  right:  0;
  top:    0;
  bottom: 0;
  background: #000;
  border-left: 1px solid $map-border;
  
  @media (max-width: $max-mobile-width) {
    display: none;
  }
}

#pdxri-map {
  height: 100%;
  
  .pdxri-list-item {
    white-space: nowrap;
  }
}




#pdxri-header {
  padding: 5px $list-item-padding $list-item-padding $list-item-padding;
  background: $list-bg;
  
  h1 {
    color: $title-color;
    font-size: 20px;
    margin: 0;
  }
  
  p {
    color: $title-color;
    font-size: 12px;
    margin: 0;
  }
  
  a {
    text-decoration: none;
    color: $title-color;
    border-bottom: 1px dotted $title-color;
    
    &:hover {
      color: $heading-color;
      border-color: $heading-color;
    }
  }
}




#pdxri-count {
  margin: 0;
  padding: $list-item-padding 0;
  background: $header-bg;
  
  p {
    font-size: $heading-font-size;
    color: $title-color;
    text-align: center;
    margin: 0;
  }
}




#pdxri-controls {
  padding: $list-item-padding $list-item-padding 0 $list-item-padding;
  border-bottom: 1px solid $list-item-border;
  border-top: 1px solid $list-item-border;
  background: $header-bg;
  
  select {
    width: 100%;
    margin-bottom: $list-item-padding;
  }
}




#pdxri-info {
  width: $list-width;
  
  @media (max-width: $max-mobile-width) {
    width: auto;
  }
  
  .pdxri-list-item {
    border-bottom: 1px solid $list-item-border;
    padding: $list-item-padding;    
  }
}

#pdxri-list {

  &.pending {
    height: 200px;
    background-image: url(../images/pending.gif);
    background-position: center center;
    background-repeat: no-repeat;
  }

  .pdxri-list-item {

    h2 {
      display: block;
      float: left;
      width: 220px;
    }
  
    h3 {
      display: block;
      float: right;
    }
  }
}

.pdxri-list-item {
  cursor: pointer;
  font-family: $font !important;
  background: $list-bg;

  
  h3 {
    margin: 0;
    font-size: $heading-font-size;
  }
  
  p {
    margin: 0 0 2px 0;
    font-size: 13px;
    font-weight: normal;
    color: #888;
    clear: both;
  }
  
  time {
    margin: 0;
    font-size: 15px;
    font-weight: normal;
    color: $text-color;
  }
  
  &.current {
    background: $active-item-color;
    
    p, time {
      color: $active-text-color;
    }
  }
    
  &.grade-A {
    h3 {
      color: #3a3;
    }
  }
  &.grade-B {
    h3 {
      color: #9a0;
    }
  }
  &.grade-C {
    h3 {
      color: #da0;
    }
  }
  &.grade-D {
    h3 {
      color: #d60;
    }
  }
  &.grade-F {
    h3 {
      color: #b00;
    }
  }
}
