@import "compass";
@import "variables";



.pdxri-detail {
  @include grades;
  background: #fff;
  padding: $pad;
  border-bottom: 1px dashed $border;

  h2, h3 {
    color: #333;
  }
  
  h3 {
    margin-top: $pad;
  }

  p {
    margin-left: $pad;
  }  
}



.pdxri-violation {
  background: #fff;
  padding: $pad;
  border-bottom: 1px dashed $border;
  
  &:last-child {
    border-bottom-style: solid;
  }

  p {
    text-transform: lowercase;
    color: #944;
  }
}


#pdxri-close {
  $size:   20px;
  float:   right;
  display: block;
  width:   $size;
  height:  $size;
  position: relative;
  background: #fff;
  
  &:before, &:after {
    content: " ";
    width:  $size;
    height: 1px;
    display: block;
    background: $link-color;
    position: absolute;
    left: 0;
    top: 8px;
  }
  
  &:before {
    @include rotate(45deg);
  }

  &:after {
    @include rotate(135deg);
  }
  
  span {
    position: absolute;
    left: -9999px;
  }
  
  &:hover {
    &:before, &:after {
      background: $link-hover-color;
      height: 3px;
    }
  }
}