@import "variables";



.pdxri-detail, .pdxri-violation {
  padding: $pad;
  border-bottom: 1px dashed $list-item-border;

  p {
    margin-left: $pad;
  }  
}



.pdxri-detail {
  @include grades;
  background: #fff;

  h2, h3 {
    color: #333;
  }
  
  h3 {
    margin-top: $pad;
  }
}



.pdxri-violation {
  background: #fffff5;
  
  &:last-child {
    border-bottom-style: solid;
  }
  
  h4 {
    color: #944;
  }

  p {
    text-transform: lowercase;
    color: #633;
  }
  
}