@import "variables";



.pdxri-item {
  @include grades;
  cursor: pointer;
  background: $list-bg;

  &:hover {
    background: #eef;
  }

  h3 {
    float: right;
    margin-left: 20px;
  }
  
  p {
    margin-left: $pad;
  }
}



.pdxri-error {
  background: #fee;
  padding: $pad;
  border-bottom: 1px solid $list-item-border;
  text-align: center;
  
  p {
    color: #b00;
    font-weight: 500;
  }
}