@import "variables";



#pdxri-header {
  padding: $pad;
  
  h1 {
    color: $title-color;
  }
    
  p {
    color: $title-color;
    text-align: center;
    font-size: 13px;
  }
  
  a {
    text-decoration: none;
    color: $heading-color;
    
    &:hover {
      color: #09d;
    }
  }
}



#pdxri-count {
  padding: $pad 0;
  
  p {
    font-size: $heading-font-size;
    color: $title-color;
    text-align: center;
  }
}

#pdxri-info {
  width: $list-width;
  
  @media (max-width: $max-mobile-width) {
    width: auto;
  }
  
  .pdxri-list-item {
    border-bottom: 1px solid $list-item-border;
    padding: $pad;    
  }
}

#pdxri-list {

  &.pending {
    height: 100px;
    background-image: url(../images/pending.gif);
    background-position: center center;
    background-repeat: no-repeat;
  }

  .pdxri-list-item {
    &:hover {
      background: #eef;
    }

    h2 {
      display: block;
      float: left;
      width: 220px;
    }
  
    h3 {
      display: block;
      float: right;
    }
    
    p {
      margin: 0 0 0 $pad;
    }
  }
}

.pdxri-list-item {
  cursor: pointer;
  font-family: $font !important;
  background: $list-bg;
    
  &.grade-0 {
    h3 {
      color: #3a3;
    }
  }
  &.grade-1 {
    h3 {
      color: #9a0;
    }
  }
  &.grade-2 {
    h3 {
      color: #da0;
    }
  }
  &.grade-3 {
    h3 {
      color: #d60;
    }
  }
  &.grade-4 {
    h3 {
      color: #b00;
    }
  }
}



.pdxri-error {
  background: #fea;
  padding: $pad;
  border-bottom: 1px solid $list-item-border;
  text-align: center;
  
  p {
    color: #b00;
    font-weight: 500;
    font-size: 14px;
  }
}