@import "variables";



#pdxri-header {
  padding: $pad;
  
  h1 {
    color: $title-color;
  }
    
  p {
    color: $title-color;
    text-align: center;
  }
  
  a {
    text-decoration: none;
    color: $heading-color;
    
    &:hover {
      color: #09d;
    }
  }
}



#pdxri-sidebar {
  width: $list-width;#pdxri-header {
  padding: $pad;
  
  h1 {
    color: $title-color;
  }
    
  p {
    color: $title-color;
    text-align: center;
  }
  
  a {
    text-decoration: none;
    color: $heading-color;
    
    &:hover {
      color: #09d;
    }
  }
}



#pdxri-sidebar {
  width: $list-width;
  
  @media (max-width: $max-mobile-width) {
    width: auto;
  }
  
  .pdxri-item {
    border-bottom: 1px solid $list-item-border;
    padding: $pad;    
  }
}



#pdxri-main {

  &.pending {
    height: 100px;
    background-image: url(../images/pending.gif);
    background-position: center center;
    background-repeat: no-repeat;
  }
}



#pdxri-count {
  padding: $pad 0;
  
  p {
    font-size: $heading-font-size;
    color: $title-color;
    text-align: center;
  }
}
  
  @media (max-width: $max-mobile-width) {
    width: auto;
  }
  
  .pdxri-item {
    border-bottom: 1px solid $list-item-border;
    padding: $pad;    
  }
}



#pdxri-main {

  &.pending {
    height: 100px;
    background-image: url(../images/pending.gif);
    background-position: center center;
    background-repeat: no-repeat;
  }
}



#pdxri-count {
  padding: $pad 0;
  
  p {
    font-size: $heading-font-size;
    color: $title-color;
    text-align: center;
  }
}