@import "variables";



#pdxri-map-wrapper {
  position: fixed;
  left:   $list-width;
  right:  0;
  top:    0;
  bottom: 0;
  background: #000;
  border-left: 1px solid $map-border;
    
  #pdxri-map {
    height: 100%;
  
    .pdxri-item {
      white-space: nowrap;
    }
  }
}