$max-mobile-width: 767px;
$list-width:       300px;
$pad:              10px ;

$title-color:      #777 ;
$heading-color:    #07c ;
$text-color:       #666 ;
                   
$header-bg:        #eee ;
$list-bg:          #fff ;

$list-item-border: #ccc ;
$map-border:       #888 ;

$active-item-color:    $heading-color ;
$active-text-color:    #fff ;
$active-heading-color: #fff ;

$font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$heading-font-size: 16px;
$text-margin: 0 0 3px 0;
$line-height: 1.2;

