#pdxri-about

  %p
    Restaurant and inspection data provided by
    %a{ href: 'http://civicapps.org' } CivicApps.org
    %span> .
  
  %p
    Website developed by
    %a{ href: 'https://github.com/jameschildress' } James Childress
    %span> .
    
  %p
    %a{ href: 'https://github.com/jameschildress' } Source code
    available on Github.