#pdxri-help

  %h2 Search for Portland restaurants and see their latest inspections:
  
  %p
    Use the
    %strong address search
    to find a specific address in Portland.
    
  %p
    &hellip; or click on the map to select an area, and click the
    %strong Search in Area
    button to see restaurants within the area.
    
  %p
    &hellip; or click on the
    %strong Search Near Me
    button to see restaurants near your current location.
    