#pdxri-settings

  %h2 Settings

  .pdxri-settings-control
    %label{ for: 'pdxri-search-radius' }
      Search Radius:
      %span#pdxri-search-radius-indicator
      miles
    %input#pdxri-search-radius{ type: 'range', min: 0.25, max: 2, step: 0.25 }

  .pdxri-settings-control
    %input#pdxri-zoom-toggle{ type: 'checkbox' }
    %label{ for: 'pdxri-zoom-toggle' } Zoom to Results
    