#pdxri-info



  #pdxri-header
  
    %h1 PDX Restaurant Inspections
    
    %p 
      TODO: Instructions.
      By
      %a{ href: 'https://github.com/jameschildress' } James Childress
      %span> .



  #pdxri-controls
    
    #pdxri-selects
      %select#pdxri-sort
        %option{ value: 'cid', selected: true } Sort by Distance
        %option{ value: 'restaurantName'      } Sort by Name
        %option{ value: 'score'               } Sort by Score
  
    #pdxri-buttons      
      .pdxri-button
        %button#pdxri-nearby{ type: :button } Search Near Me
      .pdxri-button
        %button#pdxri-area{ type: :button, disabled: true } Search in Area
  


  #pdxri-list
  
  #pdxri-count



#pdxri-map-wrapper

  #pdxri-map