#pdxri-info




  #pdxri-header
    %h1 PDX Restaurant Inspections
    %p 
      TODO: Instructions.
      By
      %a{ href: 'https://github.com/jameschildress' } James Childress
      %span> .




  #pdxri-list




#pdxri-map-wrapper

  #pdxri-map