#pdxri-info



  #pdxri-header
  
    %h1 PDX Restaurant Inspections
    
    %p 
      TODO: Instructions.
      By
      %a{ href: 'https://github.com/jameschildress' } James Childress
      %span> .



  #pdxri-controls
    
    %select#pdxri-sort
      %option{ value: 'cid', selected: true } Sort by Distance
      %option{ value: 'restaurantName'      } Sort by Name
      %option{ value: 'score'               } Sort by Score
      
    %button#pdxri-query{ type: :button } Search in Area
  


  #pdxri-list
  
  #pdxri-count



#pdxri-map-wrapper

  #pdxri-map